<%- include('header') %>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h1>List of All Teacher</h1>

                    <% if(result.length == 0){ %>
                        <div class="alert alert-danger">No Data Found</div>
                    <% }else{ %>
                        <table class="table table-dark">
                            <tr>
                                <th>Name</th>
                                <th>Age</th>
                                <th>City</th>
                                <th>Delete</th>
                            </tr>
                            <% result.forEach((x)=>{ %>
                                <tr>
                                    <td><%= x.name %></td>
                                    <td><%= x.age %></td>
                                    <td><%= x.city %></td>
                                    <td><a href="/delete/<%= x._id %>" class="btn btn-danger btn-sm">Delete</a></td>
                                </tr>
                            <% }) %>
                        </table>
                    <% } %>

                    
                </div>
            </div>
        </div>
    </body>
</html>